<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Cosmos-DB</a>
    <ul>      
      <li><a href="/M16s">M16</a></li> 
    </ul>
    <hr style="width:1000%;text-align:left;margin-left:0">
  </nav>
</header>